/*层级关系
公共头部：3
内容：1
公共底部：3
搜索栏：2
全屏页：4
*/

#app {
    /*position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;*/
}

body {
    background: #fbf9fe;
}

.app-header {
    /*position: absolute;*/
    position: relative;
    transition: 0.3s;
    width: 100%;
    z-index: 3;
    height: 45px;
    line-height: 45px;
    font-size: 19px;
    background: linear-gradient(180deg, #303036, #3c3b40);
    color: #fff;
    text-align: center;
}

.app-header.header-hide {
    margin-top: -45px;
}

.app-content {
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1;
    /*position: absolute;*/
    left: 0;
    padding-bottom: 49px;
    width: 100%;
}

.app-footer {
    bottom: 0;
    left: 0 !important;
    width: 100%;
    position: fixed;
    z-index: 3;
}

.app-footer:not(:first-child)::before {
    content: "";
    position: absolute;
    width: 200%;
    left: 0px;
    top: 0;
    transform: scale(.5);
    transform-origin: 0 0;
    -webkit-transform: scale(.5);
    -webkit-transform-origin: 0 0;
    background-color: #b7b7b7;
    height: 1px;
    z-index: 4;
}

.new-msg-count {
    position: absolute;
    font-style: normal;
    font-family: PingFang SC, Hiragino Sans GB, Arial, Microsoft YaHei, Helvetica;
    right: -9px;
    top: -5px;
    z-index: 2;
    padding: 0 4px;
    width: auto;
    min-width: 18px;
    height: 18px;
    line-height: 18px;
    border-radius: 9px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    background-color: #f43531;
}

.new-msg-dot {
    position: absolute;
    right: -4px;
    top: -3px;
    width: 10px;
    height: 10px;
    z-index: 2;
    border-radius: 50%;
    color: #ffffff;
    text-align: center;
    background-color: red;
    background-color: #f43531;
    font-size: 0;
}

.full-screen {
    position: absolute;
    top: 0;
    bottom: -50px;
    background: #eee;
    overflow: hidden;
    right: 0;
    left: 0;
    z-index: 5;
}

.line-bottom:not(:first-child)::before {
    content: "";
    position: absolute;
    width: 200%;
    left: 8px;
    top: 0;
    transform: scale(.5);
    transform-origin: 0 0;
    -webkit-transform: scale(.5);
    -webkit-transform-origin: 0 0;
    background-color: #b7b7b7;
    height: 1px;
    z-index: 10;
}