#wechat {
    .wechat-list {
        position: relative;
        overflow-x: hidden;
        .list-row {
            height: 64px;
            position: relative;
            &:last-child:after {
                content: "";
                position: absolute;
                width: 200%;
                left: 0;
                z-index: 10;
                left: 8px;
                bottom: 0;
                transform: scale(.5);
                transform-origin: 0 0;
                -webkit-transform: scale(.5);
                -webkit-transform-origin: 0 0;
                background-color: #b7b7b7;
                height: 1px;
            }
            .list-info {
                position: relative;
                z-index: 2;
                left: 0;
                width: 100%;
                height: 64px;
                padding: 8px;
                background-color: #fff;
                .ico-box {
                    position: relative;
                    float: left;
                    width: 48px;
                    height: 48px;
                    margin-right: 10px;
                    .new-msg-count {
                        position: absolute;
                        font-style: normal;
                        font-family: PingFang SC, Hiragino Sans GB, Arial, Microsoft YaHei, Helvetica;
                        right: -9px;
                        top: -5px;
                        z-index: 2;
                        padding: 0 4px;
                        width: auto;
                        min-width: 18px;
                        height: 18px;
                        line-height: 18px;
                        border-radius: 9px;
                        color: #fff;
                        text-align: center;
                        font-size: 14px;
                        background-color: #f43531;
                    }
                    .ico {
                        height: 100%;
                        border-radius: 5px;
                        overflow: hidden;
                        img {
                            width: 100%;
                            border: 0;
                        }
                    }
                }
                .desc-box {
                    overflow: hidden;
                    .desc-time {
                        float: right;
                        color: #b8b8b8;
                    }
                    .desc-author {
                        height: 25px;
                        line-height: 25px;
                        font-size: 16px;
                        color: #000;
                    }
                    .desc-msg {
                        height: 23px;
                        line-height: 23px;
                        font-size: 14px;
                        color: #888;
                        .desc-mute {
                            float: right;
                            color: #b8b8b8;
                        }
                    }
                }
            }
            .operate-box {
                position: absolute;
                z-index: 1;
                height: 100%;
                right: 0;
                top: 0;
                display: flex;
                &>div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #c7c7cc;
                    color: #fff;
                    font-size: 18px;
                    padding: 0 12px;
                }
                .operate-del {
                    background-color: #ff3b30;
                }
            }
        }
    }
}