#contact {
    img {
        width: 32px;
        height: 32px;
        display: block;
        margin-right: 10px;
        // border-radius: 4px;
    }
    .initial-bar {
        position: fixed;
        top: 50%;
        font-size: 11px;
        line-height: 1.2;
        right: 2px;
        width: 10px;
        transform: translate3d(0, -50%, 0);
        span {
            display: block;
            text-align: left;
        }
    }
}