.add-tel-address {
    margin: 0 auto;
    text-align: center;
    dt .iconfont {
        font-size: 35px;
        color: #4bb94b;
    }
    dd {
        font-size: 14px;
        color: #929292;
    }
}

.message-list .weui_cell_primary p b {
    font-size: 18px;
    font-weight: normal;
}

.message-list .weui_cell_primary p span {
    font-size: 14px;
    color: #888888;
}