/* making the header of dialogue fixed will lead to some strange scrolling behavior,temporarily abandoned*/

// .dialogue header {
//      position: fixed !important;
//      top: 0;
//      width: 100%;
// }
.dialogue-section {
    // margin-top: 45px;
    height: 100%;
    background: url("https://sinacloud.net/vue-wechat/images/bg/alarm.jpg") center center;
    padding: 2%;
    .row {
        width: 80%;
        margin-top: 30px;
        margin-bottom: -10px;
        .header {
            width: 35px;
            float: left;
            display: block;
        }
        .text {
            float: left;
            /* line-height: 40px; */
            background: #fff;
            /* display: block; */
            padding: 8px;
            box-sizing: border-box;
            /* height: 40px; */
            margin-left: 10px;
            position: relative;
            border-radius: 4px;
            max-width: 80%;
            font-size: 14px;
            &:before {
                width: 0;
                height: 0;
                position: absolute;
                left: -12px;
                top: 11px;
                content: "";
                border: 6px solid transparent;
                border-right-color: #fff;
            }
        }
    }
    .msg-more {
        position: absolute;
        display: none;
        width: 190px;
        padding: 3px;
        left: 0;
        background: #000;
        color: #fff;
        top: 20px;
        left: 20px;
        border-radius: 4px;
        &:after {
            width: 0;
            height: 0;
            position: absolute;
            left: 18px;
            top: 25px;
            content: "";
            border: 6px solid transparent;
            border-top-color: #000;
        }
        ul {
            li {
                float: left;
                width: 46px;
                /* margin-right: 1px; */
                border-right: 1px solid #fff;
                text-align: center;
                &:last-child {
                    border-right-width: 0;
                }
            }
        }
    }
}

.dialogue-section-inner {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    overflow: auto;
}

.dialogue-footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50px;
}


/*dialogue-bar*/

.component-dialogue-bar {
    position: relative;
    height: 100%;
    padding-left: 50px;
}

.component-dialogue-bar .dialogue-item {
    position: absolute;
    height: 50px;
    bottom: 0;
    left: 0;
    width: 100%;
    transition: .25s all ease;
    background-color: #fdfdfd;
}

.component-dialogue-bar .dialogue-item::before {
    content: "";
    position: absolute;
    width: 200%;
    left: 0;
    top: 0;
    transform: scale(.5);
    transform-origin: 0 0;
    -webkit-transform: scale(.5);
    -webkit-transform-origin: 0 0;
    background-color: #b7b7b7;
    height: 1px;
    z-index: 2;
}

.component-dialogue-bar .dialogue-item::after {
    content: "";
    position: absolute;
    left: 50px;
    top: 0px;
    border-right: 1px solid #b7b7b7;
    height: 200%;
    transform: scale(.5);
    transform-origin: 0 0;
    z-index: 2;
}

.component-dialogue-bar .dialogue-item.transition-dialogue-down {
    bottom: -50px;
}

.left-slide-type {
    float: left;
    width: 50px;
    height: 100%;
    padding: 5px 0;
    text-align: center;
    font-size: 30px;
    line-height: 40px;
    color: #7d7e83;
    position: relative;
}


/*person*/

.component-dialogue-bar-person {
    overflow: hidden;
    padding: 5px 0;
    height: 100%;
    flex-grow: 1;
    flex-basis: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    background-color: #ffffff;
}

.component-dialogue-bar-person::before {
    content: "";
    position: absolute;
    width: 200%;
    left: 0;
    top: 0;
    transform: scale(.5);
    transform-origin: 0 0;
    -webkit-transform: scale(.5);
    -webkit-transform-origin: 0 0;
    background-color: #b7b7b7;
    height: 1px;
    z-index: 2;
}

.component-dialogue-bar .component-dialogue-bar-person::before {
    display: none;
}

.component-dialogue-bar-person .iconfont {
    color: #7d7e83;
    flex-basis: 40px;
    width: 40px;
    padding: 0 3px;
    font-size: 30px;
    flex-grow: 0;
    vertical-align: middle;
    line-height: 40px;
    padding: 0 4px;
}

.chat-way {
    vertical-align: middle;
    padding: 4px 0px;
    height: 100%;
    flex-grow: 1;
    flex-basis: 200px;
}

.chat-way .chat-say {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    overflow: hidden;
    padding: 0 10px;
    width: 200%;
    height: 200%;
    color: #565656;
    border: 1px solid #7d7e83;
    transform: scale(.5);
    transform-origin: 0 0;
    font-size: 30px;
}

.chat-way .chat-say_touched {
    background-color: #c6c7ca;
}

.chat-way .two {
    display: none;
}

.chat-way .chat-say_touched .two {
    display: block;
}

.chat-way .chat-say_touched .one {
    display: none;
}

.chat-way .chat-txt {
    border-radius: 6px;
    overflow: hidden;
    padding: 0 10px;
    width: 200%;
    height: 200%;
    border: 1px solid #7d7e83;
    transform: scale(.5);
    transform-origin: 0 0;
    font-size: 30px;
}

.component-dialogue-bar-public {
    height: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
}

.component-dialogue-bar-public li {
    padding: 0 2px;
    overflow: hidden;
    flex-grow: 1;
    flex-shrink: 0;
    line-height: 50px;
    flex-basis: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.component-dialogue-bar-public li .iconfont {
    font-size: 12px;
}

.component-dialogue-bar-public li:not(:last-child)::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: 0 0;
    transform: scale(.5);
    height: 200%;
    border-right: 1px solid #b7b7b7;
}

.recording {
    position: fixed;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    width: 140px;
    height: 140px;
    padding: 5px;
    background-color: rgba(0, 0, 0, .5);
    color: #ffffff;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
}

.recording-voice {
    // display: none;
}

.recording-voice .voice-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
}

.voice-inner .voice-icon {
    width: 55px;
    height: 90px;
    background: url(../images/recording-bkg.png) no-repeat center center;
    background-size: contain;
}

.voice-inner .voice-volume {
    width: 30px;
    height: 55px;
}

.voice-inner .voice-volume span {
    display: block;
    height: 2px;
    margin-top: 4px;
    min-width: 8px;
    float: left;
    clear: both;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 2000ms;
    background-color: #e4e4e5;
}

.voice-inner .voice-volume span:nth-child(1) {
    width: 24px;
    visibility: hidden;
}

.voice-inner .voice-volume span:nth-child(2) {
    width: 22px;
}

.voice-inner .voice-volume span:nth-child(3) {
    width: 20px;
}

.voice-inner .voice-volume span:nth-child(4) {
    width: 18px;
}

.voice-inner .voice-volume span:nth-child(5) {
    width: 16px;
}

.voice-inner .voice-volume span:nth-child(6) {
    width: 14px;
}

.voice-inner .voice-volume span:nth-child(7) {
    width: 12px;
}

.voice-inner .voice-volume span:nth-child(8) {
    width: 10px;
}

.voice-inner .voice-volume span:nth-child(9) {
    width: 8px;
}

.recording-cancel {
    // display: none;
}

.recording-cancel p {
    border-radius: 3px;
    background-color: #9d383e;
}

.cancel-inner {
    width: 110px;
    height: 110px;
    margin: 0 auto;
    background-image: url(../images/record-cancel.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}